.THIS {
    background-color: white;
    /* overflow: auto; */
    position: relative;
    height: 100%;
    /* overflow: scroll; */
    /* height: 100%; */
    height: calc((100%) - (108px + 22px));
}


.THIS .secondary-wrapping {
    background-color: #F7F9FB;
}

.THIS .slds-form-element__label {
    color: #54698D;
}

.THIS form.slds-form {
    height: 100%;
    position: relative;
}



.THIS .btn-next{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 1.5rem;
}
.THIS .customRequiredField label.slds-form-element__label::before{
    content : '* ';
    color: rgb(194, 57, 52);
}

@media (min-height: 700px) and (max-height: 1000px)  {
    .THIS .btn-next{
        position: unset;
        /* bottom: 0;
        right: 0; */
        padding-bottom: 1.5rem;
    }
}
@media (min-width:700px) and (max-width:720px) and (max-height: 1139px) {
    .THIS .btn-next{
        position: unset !important;
        /* bottom: 0;
        right: 0; */ 
        padding-bottom: 1.5rem;
    }
    .THIS .slds-tabs_default.tabset{
        min-height: calc((100%) - (50px + 22px));
    }
}
@media (min-width: 900px) {
    .THIS {
        background-color: white;
        /* overflow: auto; */
        position: relative;
        height: 100%;
        overflow: scroll;
        /* height: 100%; */
        height: unset;
    }

    .THIS form.slds-form {
        padding-bottom: 4rem;
    }
}
.THIS .tabset lightning-tab-bar ul {
    margin: 0 1.5rem;
}

.THIS .slds-tabs_default__link{
    text-decoration : none !important;
}

.THIS .tabset lightning-tab-bar ul li {
    padding: 0 1rem;
    color: #54698D;
}
.THIS .slds-form-element__icon{
    display: none;
}
.THIS .slds-form-element__label,
.THIS .slds-text-title_caps,
.THIS .slds-card__header-title {
    color: #54698D;
}