<apex:page standardController="Account" extensions="AccountDetailPageExtension"  id="thePage" >   

    <apex:includescript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}" />
 <apex:actionstatus onstart="startLoading('Inserting ...');" id="InsertStatus" onstop="endLoading();" />
    
    
               <apex:Form id="thForm">
                   <apex:actionFunction name="loadEditCustomerInformation" action="{!loadData}" rerender="EditCustomerInformation" >
        <apex:param name="sectionName" assignTo="{!sectionName}" value="ComCust:Other Information"/>
        <apex:param name="sectionName2" assignTo="{!sectionName2}" value="ComCust:Risk Information"/>
        <apex:param name="sectionName3" assignTo="{!sectionName3}" value="ComCust:Account Information"/>
        <apex:param name="sectionName4" assignTo="{!sectionName4}" value="Edit Customer Information"/>
    </apex:actionFunction>
               <apex:sectionHeader title="{!Account.Name}" subtitle="Existing Customer" id="theHead"/>    
         <apex:PageBlock mode="edit" id="theBlock">
            <apex:outputPanel id="statusMessage">
                <apex:pageMessages ></apex:pageMessages>
            </apex:outputPanel>
            
           <apex:pageBlockButtons >
              <apex:commandButton action="{!save}" value="Save" />
              <apex:commandButton action="{!cancel}"  value="Cancel" />
           </apex:pageBlockButtons>           
            <apex:pageBlockSection columns="2" title="Edit Customer Infomation" id="EditCustomerInformation">
                <apex:inputField taborderhint="1" value="{!Account.Service_class__c}"/>
              <!--  <apex:inputField taborderhint="2" value="{!Account.Customer_Strategy__c}"/>  -->
                <apex:inputField taborderhint="3" value="{!Account.Visit_Class__c}"/> 
                
                <apex:inputField taborderhint="4" value="{!Account.Industry__c}"/>
                <apex:inputField taborderhint="5" value="{!Account.Group__c}"/> 
                 <!--<apex:inputField taborderhint="5" value="{!Account.Customer_Group__c}"/>-->
                <apex:inputField taborderhint="6" value="{!Account.ParentId}"/>
                 <apex:pageBlockSectionItem rendered="{!isVisible_B}">
                 <apex:outputLabel value="{!$ObjectType.Account.Fields.High_Risk_Flag__c.label}"></apex:outputLabel>
                 <apex:inputField value="{!Account.High_Risk_Flag__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem rendered="{!!isVisible_B}">
                 <apex:outputLabel value="{!$ObjectType.Account.Fields.High_Risk_Flag__c.label}"></apex:outputLabel>
                 <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>
                <apex:inputField taborderhint="7" value="{!Account.Account_Plan_Flag__c}"/>
                <apex:inputField taborderhint="7" value="{!Account.Account_Plan_Form__c}"/>
                <apex:inputField taborderhint="7" value="{!Account.Group_Key_Decision_Maker__c}"/>
                <apex:inputField taborderhint="7" value="{!Account.Key_Decision_Company__c}"/>
                <apex:inputField taborderhint="7" value="{!Account.X4G_Base__c}"/>
                <apex:inputField taborderhint="7" value="{!Account.X4G_Current_month__c}"/>
                <apex:inputField taborderhint="7" value="{!Account.Sub_4G__c}"/>
                
            </apex:pageBlockSection>     
             
         </apex:PageBlock>     
          </apex:Form>
      
<script type="text/javascript">
    
    $(document).ready(function () {
 				loadEditCustomerInformation();
        });
    </script>
   
</apex:page>