<apex:page standardcontroller="Lead" standardstylesheets="true" extensions="RetailLeadExtension" tabstyle="Lead" >
    <apex:includescript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}" />
    <apex:sectionheader title="{!IF(isCreateMode,$Label.Lead_Create,$Label.Lead_Edit)}" subtitle="{!IF(isCreateMode,$Label.New_Lead,Lead.Name)}" />
    <apex:form >
        <apex:outputPanel id="newLeadId">
          <script>
            var pageId;
            var primaryTabId;
    		var tabId;
    
    		function getPageInfo(id) {
        		pageId = '/'+id;
                if(sforce.console.isInConsole()){
                	sforce.console.getEnclosingTabId(currentTab);
        			
                }else{
                	redirectPage();
                }
    			
        
			}
            
    		var currentTab = function currentTab(result) {
    			//Now that we have the tab ID, we can close it
        		tabId = result.id;
        		console.log('current '+tabId);
                sforce.console.getEnclosingPrimaryTabId(showTabId);
    		};
                    
    		var showTabId = function showTabId(result) {
    			primaryTabId = result.id;
        		console.log('primary' + primaryTabId);
        		redirectPage();
    		};
            
        	 
            function redirectPage() {
                //Salesforce1
                if(typeof sforce !== "undefined" && sforce !== null && (sforce.one)){
                    sforce.one.navigateToURL(pageId,true);
                }
                //Console
                else if(sforce.console.isInConsole()){
                    if('{!lead.RTL_Referral__c}' == ''){
                    	sforce.console.openPrimaryTab(primaryTabId, pageId, true);
                    }else{
                        refreshPrimaryTabById();      
                    	sforce.console.openSubtab(primaryTabId ,pageId, true,'{!lead.Name}');
                        sforce.console.closeTab(tabId);
                    }
                }
                //Desktop
                else{
                    window.location = pageId;
                }
            }
            
            
            var actionResult = '{!lead.id}';
            var dml = '{!action}';

            if(actionResult != null && actionResult != '' && dml == 'insert' && '{!hasError}' == 'false') {
                console.log('refresh page');
                getPageInfo(actionResult);
            }
            
        	function refreshPrimaryTabById() {
            	//Get the value for 'scc-pt-0' from the openPrimaryTab method
            	//This value is for example purposes only
            	sforce.console.refreshPrimaryTabById(primaryTabId, true,null);
        	}
        
  </script>
        </apex:outputPanel>
        <apex:actionFunction name="cancelLead" action="{!cancel}"/> 
        <apex:actionFunction name="saveLead" action="{!saveLead}" />
        <apex:pageblock title="{!$Label.Lead_Detail}" mode="edit" id="page">
            <apex:outputpanel id="statusMessage">
                <apex:pagemessages escape="false"></apex:pagemessages>
            </apex:outputpanel>
            <apex:pageblockbuttons >
                <apex:commandbutton onclick="toSavePage();return false;"  value="{!$Label.Save}" rerender="newLeadId"/>
                <apex:commandbutton action="{!save}" value="{!$Label.Save_New}" rendered="{!isCreateMode}" rerender="page">
                    <apex:param name="saveAndNew" value="saveAndNew" assignTo="{!saveAndNew}"/>
                </apex:commandbutton>
                <!-- <apex:commandbutton action="{!cancel}" value="{!$Label.Cancel}" /> -->
                <apex:commandbutton onclick="toLeadPage();return false;" value="{!$Label.Cancel}" />
                <script>
                    function toLeadPage() {
                        if(typeof sforce !== "undefined" && sforce !== null && (sforce.one)) {
                            // Salesforce1 navigation
                            var leadID = '{!lead.id}';
                            var retURL = '/00Q/o';
                            if(leadID != null && leadID !='') {
                                retURL = '/'+leadID;
                            }   
                            sforce.one.navigateToURL(retURL);
                            
                        }else if(sforce.console.isInConsole()){
                            console.log(tabId);
                            sforce.console.getEnclosingTabId(closeTab);
                            
                            
                        }else{
                            cancelLead();
                        }
                    }
                 
                	var closeTab = function closeTab(result){
                    	var tabId = result.id;
                        sforce.console.closeTab(tabId);
                    }
                </script>
                <apex:includeScript value="/support/console/36.0/integration.js"/>
                <script>
                    
                    function toSavePage() {
                        saveLead();
                    }
                 
                </script>
            </apex:pageblockbuttons>
            <apex:pageblocksection title="{!$Label.Lead_Information}" columns="{!displayS1}">
                <apex:pageblocksectionitem >
                    <apex:outputlabel escape="false" value="{!$ObjectType.Lead.Fields.FirstName.label}"></apex:outputlabel>
                    <apex:outputpanel >
                        <apex:inputfield value="{!Lead.Salutation}" ></apex:inputfield>
                        <apex:inputfield value="{!Lead.FirstName}" ></apex:inputfield>
                    </apex:outputpanel>
                </apex:pageblocksectionitem>
                <!-- Original
                <apex:inputField value="{!Lead.RTL_Mobile_Number__c }"/>
                <apex:inputField value="{!Lead.LastName}"/>
                <apex:inputField value="{!Lead.RTL_Email_Address__c}"/>
                <apex:inputField value="{!Lead.RTL_ID_Type__c}"/>
                <apex:inputField value="{!Lead.Rating}"/>
                <apex:inputField value="{!Lead.RTL_Citizen_Id__c }"/>
                 -->
                 
                <apex:inputField value="{!Lead.LastName}" />
                <apex:inputField value="{!Lead.RTL_Mobile_Number__c }" />
                <apex:inputField value="{!Lead.RTL_Email_Address__c}"/>
                <apex:inputField value="{!Lead.RTL_ID_Type__c}"/>
                <apex:inputField value="{!Lead.RTL_Citizen_Id__c }"/>
                <apex:inputField value="{!Lead.Status }" />
                <apex:outputField value="{!Lead.OwnerId}"/>
                <apex:inputField value="{!Lead.RTL_Reason__c}"/>
                <apex:inputHidden />
                <apex:inputField value="{!Lead.Rating}"/>
            </apex:pageblocksection>
            
            <apex:pageblocksection title="{!$Label.Interested_Products_Title}" columns="{!displayS1}">
               <apex:inputField value="{!Lead.RTL_Primary_Interested_Product__c}" />
            </apex:pageblocksection>

            <apex:pageblocksection title="{!$Label.Source_Contact_Result}" columns="{!displayS1}">
                <apex:repeat value="{!$ObjectType.Lead.FieldSets.Retail_Source_Contact_Result}" var="field">
                    <apex:inputfield value="{!Lead[field]}" />
                </apex:repeat>
            </apex:pageblocksection>
            <apex:pageblocksection title="{!$Label.Additional_Information}" columns="{!displayS1}">
                <apex:repeat value="{!$ObjectType.Lead.FieldSets.Retail_Additional_Information}" var="field">
                    <apex:inputfield value="{!Lead[field]}" />
                </apex:repeat>
            </apex:pageblocksection>
            <apex:pageblocksection title="{!$Label.Campaign_Related}" columns="{!displayS1}" rendered="{!isCreateMode}">
                <apex:repeat value="{!$ObjectType.Lead.FieldSets.Retail_Campaign_Related}" var="field">
                    <apex:outputfield value="{!Lead[field]}" />
                </apex:repeat>             
                <!--apex:outputField value="{!Lead.RTL_TMB_Campaign_Source__c}"/>
                <apex:outputField value="{!Lead.RTL_TMB_Campaign_Reference__c}"/>
                <apex:outputField value="{!Lead.RTL_Customer_Segment__c}"/>
                <apex:outputField value="{!Lead.RTL_Permission__c}"/-->                      
            </apex:pageblocksection>
            <!--
            <apex:pageblocksection title="{!$Label.Commercial_Referral}" columns="{!displayS1}">
                <apex:repeat value="{!$ObjectType.Lead.FieldSets.Retail_Commercial_Referral}" var="field">
                    <apex:inputfield value="{!Lead[field]}" />
                </apex:repeat>   
            </apex:pageblocksection>
            -->
            <apex:pageblocksection title="{!$Label.System_Information}" columns="{!displayS1}" rendered="{!isCreateMode}">
                <apex:outputfield value="{!Lead.RTL_Description__c}" />
            </apex:pageblocksection>
        </apex:pageblock>
    </apex:form>
</apex:page>