<apex:page applyBodyTag="false" showHeader="false" standardstylesheets="true" controller="RTL_HomeScreenCallListComponentCtrl" readonly="true">

	<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <apex:includescript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}"/> 

    
    <apex:includeScript value="/support/console/39.0/integration.js"/>

    <style type="text/css">
            @media (max-width: 500px) {
            
            .bootstrap-sf1 .form-horizontal .form-group {
            margin-left: -10px;
            margin-right: -10px;
            }
            .dateOnlyInput .dateFormat {
            
            top: 25px;
            
            }
            input[type="checkbox"], input[type="radio"] {
            
            height: 30px;
            width: 50px;
            }
            .bootstrap-sf1 .form-horizontal .checkbox{
            margin-bottom: 5px;
            }
            .bootstrap-sf1 .radio label, .bootstrap-sf1 .checkbox label {
            padding-left: 40px;
            }
            .bootstrap-sf1 .radio input[type="radio"], .bootstrap-sf1 .radio-inline input[type="radio"], .bootstrap-sf1 .checkbox input[type="checkbox"], .bootstrap-sf1 .checkbox-inline input[type="checkbox"] {
            position: absolute;
            margin-left: -45px;
            top:-5px;
            }
            
            .bootstrap-sf1{
            overflow: hidden;
            }
            .bootstrap-sf1 .container{
            padding-left :0px;
            padding-right:0px;
            }
            .bootstrap-sf1 .page-header[class*="context-"] {
                position: relative;
                padding-top: 14px;
                margin: -15px -15px 10px -15px;
            }
            
            
            }
            .bootstrap-sf1{
            background-color: #FFF;
            }

            #hotlink .table ,#campaignTable .table{
            	margin-bottom: 4px !important;
            }

            #hotlink .table td,#campaignTable .table td{
            	padding-bottom: 4px;
            	padding-top: 4px;
            }
            
            /*<!-- Loading style -->*/
            
            
        </style>
        


    </head>
	<!-- Desktop -->
    <div class="bootstrap-sf1" id="appearOnDesktop">
    			<div class="row" style="max-width:100% !important;">

			    	<!--Button Block-->
			    	<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12" >
			    	
					<div class="bootstrap-sf1">
			            <div style="float:left;">

						    <table  border="0" cellpadding="0" cellspacing="0" style="height:100%;">
				                <tr style="text-align: left;padding:10px;" >
				                    <td >
				                     
				                            <div style="float:left;padding-top:5px;">

												<!-- TAY CODE HERE -->
												<apex:outputPanel rendered="{!showPortfolioReviewBtn}">
												<a href="#" onclick="Navi('00T?fcf={!ProtfolioReviewListviewID}', 'Portfolio_Review')" 
												class="btn btn-default" style="padding-right:20px;">
													<span class="" style="margin-right:5px;" ></span>
													{!$Label.Portfolio_Review}
												</a>
												</apex:outputPanel>
												<!-- TAY CODE HERE -->

				                            	<!--Code Referral Button-->
				                            	<a href="#" onclick="NavigateTo('{!reportPageReferral}','Referral')" 
				                            	class="btn btn-default" style="padding-right:20px;">
										      		<span class="glyphicon glyphicon-calendar" style="margin-right:5px;" ></span>
										      		{!$Label.RTL_New_Referral}
										      		<apex:outputPanel rendered="{!if(countNewReferral > 0,'true','false')}">
										     		<span class="badge" style="margin-left:5px;background-color:red;">{!countNewReferral}</span>
										     		</apex:outputPanel>
										       	</a>
										       <!--Code Referral Button End

										       onclick="NavigateTo('apex/RTL_CampaignCallList?mylist=1','Call List')" -->
				                            	
				                            	<apex:outputPanel rendered="{!showPendingCall}">
				                                <!-- <a href="#" onclick="NavigateTab('apex/RTL_CampaignCallList?mylist=1')"
				                                class="btn btn-default" style="padding-right:20px;"> -->
				                                <a href="#" 
										       onclick="NavigateTo('apex/RTL_CampaignCallList?mylist=1','Call List')" class="btn btn-default" style="padding-right:20px;">
						      						<span class="glyphicon glyphicon-earphone" style="margin-right:5px;" ></span>
						      						{!$Label.RTL_Campaign_Home_Calllist}
						      						<apex:outputPanel rendered="{!if(sizeItemCallList > 0,'true','false')}">
						            				<span class="badge" style="margin-left:5px;background-color:red;">{!sizeItemCallList}</span>
						            				</apex:outputPanel>
					      						</a>
					      						</apex:outputPanel>
					      					
					      						<apex:outputPanel rendered="{!showItemToApprove}">
											    <a href="#" onclick="NavigateTo('04i','Items to Approve')" 
											    class="btn btn-default" style="padding-right:20px;">
										      		<span class="glyphicon glyphicon-pushpin" style="margin-right:5px;" ></span>
										      		{!$Label.RTL_Campaign_Home_ItemToApprove}
										      		<apex:outputPanel rendered="{!if(sizeItemToApprove > 0,'true','false')}">
										            <span class="badge" style="margin-left:5px;background-color:red;">{!sizeItemToApprove}</span>
										            </apex:outputPanel>
										       </a>
										       </apex:outputPanel>
											
												<apex:outputPanel rendered="{!showReassignButton}">
												<a href="#" onclick="NavigateTo('apex/RTL_CampaignMemberReassign','Reassign Campaign Member')" 
												class="btn btn-default" style="padding-right:20px;">
													<span class="glyphicon glyphicon-earphone" style="margin-right:5px;" ></span>
													{!$Label.RTL_Campaign_Home_Reassign}
												</a>
												</apex:outputPanel>
												
												<!-- TAY CODE HERE -->
												<apex:outputPanel rendered="{!showMyActivityBtn}">
												<a href="#" onclick="Navi('00T?fcf={!MyActivityListviewID}', 'My_Activity')" 
												class="btn btn-default" style="padding-right:20px;">
													<span class="" style="margin-right:5px;" ></span>
													{!$Label.RTL_My_Activity}
												</a>
												</apex:outputPanel>
												<!-- TAY CODE HERE -->
                                                
                                                 <!-- 20181120 show all open case--> 
                                               <apex:outputPanel rendered="{!isShowCase}">
                                                <a href="#" onclick="NavigateTo('{!reportPageCase}','Open Case')" 
                                                class="btn btn-default" style="padding-right:20px;">
                                                    <span class="glyphicon glyphicon-calendar" style="margin-right:5px;" ></span>
                                                    Open Case
                                                    <apex:outputPanel rendered="{!if(countCaseNumber > 0,'true','false')}">
                                                    <span class="badge" style="margin-left:5px;background-color:red;">{!countCaseNumber}</span>
                                                    </apex:outputPanel>
                                                </a>
                                              </apex:outputPanel>
                                                

											</div> 
					                    </td>
					                </tr>
					           	</table>
						    </div>
						</div> 
					</div>
					<!--End Button Block-->


				<!--Table and Hotlink Block-->
				<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12"  >
				<div class="bootstrap-sf1">
				<div style="float:left; width: 100%">
					<div class="row">
							<apex:outputPanel rendered="{!showTable}">
							<div class="col-xs-12 col-sm-6 col-md-6" id="campaignTable">
							 	<div class="card" style="margin: 10px 0px 10px 0px;">
					            	<table class="table" style="text-align: center;font-size: 12px; width: 100%; ">
					            		<tr bgcolor="#eeeeee"><td></td><td colspan="2"><b>{!$Label.RTL_Campaign_Home_Calllist_Table}</b></td></tr>
					            		<tr bgcolor="#eeeeee"> 
					                		<td style="text-align: left;"><b>{!$Label.RTL_Campaign_Home_Campaign_Name}</b></td>
					                		<td><b>{!$Label.RTL_Campaign_CallList_Filter_All}</b></td>
					                		<td><b>{!$Label.RTL_Campaign_Home_Waiting}</b></td>
					            		</tr>

					            		<apex:outputPanel rendered="{!mapCampaignEmpty}">

					            		<tr>
					            			<td style="text-align: left;">
					            				<apex:outputText value="{!$Label.RTL_No_Record_Display}" ></apex:outputText>
					            			</td>
					            		</tr>
					            		</apex:outputPanel>

					            		
					            		<apex:repeat value="{!listCampaign}" var="c">
					            			<tr>
					            				<td style="text-align: left;"> 


					            				<a href="#" onclick="NavigateTo('apex/RTL_CampaignCallList?campaignid={!c.campaignId}','Call List')">
					            				<!-- 	<a href="#" onclick="NavigateTab('apex/RTL_CampaignCallList?id={!mapCampaign[c].campaignId}')"> -->
					            					{!c.campaignName}</a>
					            				</td>
					            				<td>{!c.allCampaignNumber}</td>
					            				<td>{!c.pendingCampaignNumber}</td>
					            			</tr>
					            		</apex:repeat>

					            	</table>
				            	</div>
					        </div>
					        </apex:outputPanel>
					        <div class="{!if(showTable,'col-xs-12 col-sm-6 col-md-6','col-xs-12 col-sm-12 col-md-12 col-xl-12')}" id="hotlink">
					        	 <div class="card" style="margin:10px 0px 10px 0px">
						       	 	<table class="table" style="width:100%">
									  <tr>
									    <td colspan="2" bgcolor="#eeeeee" style="height:30px">
									       <font size="2">
									                <b><apex:outputText value="{!$Label.RTL_Campaign_Home_Hotlink_header}" escape="false" ></apex:outputText></b>
									       </font>
										    </td>
										</tr>
										  <tr>
										    <td style="height:30px">
										     <font size="2">                      
										               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.infahnet.tmb/minisite/crm/retail/Pages/default.aspx" target="_blank">{!$Label.RTL_Campaign_Home_Hotlink_link1}</a>
										     </font>
										     </td>
										  </tr>
										  <tr>
										    <td style="height:30px">
										     <font size="2">                      
										               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.infahnet.tmb/minisite/crm/retail/ks/default.aspx" target="_blank">{!$Label.RTL_Campaign_Home_Hotlink_link2}</a>
										     </font>
										    </td> 
										  </tr>
										  <tr>
										    <td style="height:30px">
										     <font size="2">                      
										               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.infahnet.tmb/minisite/crm/retail/Pages/Tutorial.aspx" target="_blank">{!$Label.RTL_Campaign_Home_Hotlink_link3}</a>
										     </font>
										    </td>
										  </tr>
										  <tr>
										    <td style="height:30px">
										     <font size="2">                      
										               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.infahnet.tmb/minisite/crm/retail/Lists/FAQ/AllItems.aspx" target="_blank">{!$Label.RTL_Campaign_Home_Hotlink_link4}</a>
										     </font>
										    </td> 
										  </tr>
									</table>
								</div>
					        </div>
				        </div>
			        </div>
			    </div>
			    </div>
				<!--End Table and Hotlink Block-->
			
			</div>
	</div>
	<!-- Desktop -->


		


<!--Script-->

<apex:includeScript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}"  />
<apex:includeScript value="{!$Resource.AccountPlan_Bootstrap}"/>
<apex:includeScript value="{!$Resource.AccountPlan_Mustache}"/>
<apex:includeScript value="{!$Resource.momentJS}"/>
<apex:includeScript value="{!$Resource.SFScript}"  />   


<script type="text/javascript">

	var ObjId;
    var Title;

    /*$(document).ready(function(){  
            if( (typeof sforce != 'undefined') && (sforce != null) ) {
              console.log('mobile');
                $('#appearOnSF1').show();
                $('#appearOnDesktop').hide();
            }else{
              console.log('desktop');
                $('#appearOnSF1').hide();
                $('#appearOnDesktop').show();
            }    
        });*/

	function Navi(ObjId,Title) {
		if(Title != null && (Title == 'Portfolio_Review' || Title == 'My_Activity')){	
			if ((typeof sforce.one != 'undefined') && (sforce.one != null) ) {
				// sforce.one.navigateToURL('/' + ObjId);
				console.log('ProtfolioReviewListviewID : {! reportPortfolioReview}');
				console.log('MyActivityListviewID : {! reportMyActivity}');
				if(Title == 'Portfolio_Review'){
					// sforce.one.navigateToList('00B0l000001NU8EEAW', null, 'Activity');
					NavigateTo('{! reportPortfolioReview}');
				}
				else{
					NavigateTo('{! reportMyActivity}');
					// sforce.one.navigateToList('{! MyActivityListviewID}', null, 'Task');
				}
			}else if (sforce.console.isInConsole() ) {
				this.Title=null;
				NavigateTo(ObjId);
			}
		}else{
			NavigateTo(ObjId);
		}
	}

    function NavigateTo(ObjId,Title) {

        this.ObjId=ObjId;
        this.Title=Title;

			if(Title != null && (Title == 'Portfolio_Review' || Title == 'My_Activity')){
				if ((typeof sforce.one != 'undefined') && (sforce.one != null) ) {
                    // sforce.one.navigateToURL('/' + ObjId);
					console.log('ProtfolioReviewListviewID : {! ProtfolioReviewListviewID}');
					// sforce.one.navigateToList('{! ProtfolioReviewListviewID}', 'Portfolio Review!!', 'Task')
				}else if (sforce.console.isInConsole() ) {
					this.Title=null;
					NavigateTo(ObjId);
				}
			}

            else if ((typeof sforce.one != 'undefined') && (sforce.one != null) ) {
            
                    sforce.one.navigateToURL('/' + ObjId);
                
            }
            else if (sforce.console.isInConsole() ) {
            	
                //First find the ID of the primary tab to put the new subtab in
                sforce.console.openPrimaryTab(null, "/"+ObjId, true,Title, openSuccess, ObjId);
                
            }
            else if ( Title == 'Call List')
            {
            	 window.open('/ui/support/servicedesk/ServiceDeskPage#/' + ObjId,'_top');
            }
            else if (Title != 'New Task') {
                    if (ObjId != '')
                        //alert('cannot open');
                        window.open('/ui/support/servicedesk/ServiceDeskPage#/'+ObjId,'_blank');
                        //window.open("/" + ObjId,"","width=800, height=600, toolbar=no, scrollbars=yes, resizable=yes");
   
            }
            else{
                //window.location.href = ObjId;
                //window.open('/' + ObjId,'_top');
                window.open('/ui/support/servicedesk/ServiceDeskPage#/'+ObjId,'_blank');
                
            }
    
    }

    var openSuccess = function openSuccess(result) {
        //Report whether opening the new tab was successful
        if (result.success == true) {
        } else {
        }
    };



	// function NavigateTab(url){

	// 	var callListUrl = url;
	// 	var callListName = "{!callListNavTabLabel}";
	// 	// var container = $('#nav-tab-10');
	// 	sforce.console.getNavigationTabs(function(result) {
 //           //sforce.console.setSelectedNavigationTab(setNavTab,'nav-tab-10',callListUrl);
 //        });

	// 	//sforce.console.setSelectedNavigationTab(setNavTab,'nav-tab-10',url);
        

	// }

	// var checkTab = function checkTab(result)
	// {
	// 	sforce.console.setSelectedNavigationTab(setNavTab,'nav-tab-10',url);
	// }

	// var setNavTab = function(result)
	// {
	// 	console.log(result);
	// 	alert(result);
	// }

</script>

<!--Script-->

</apex:page>